.button {
    color: black;
    font-size: inherit;
    cursor: pointer;
    transition: 0.1s all;
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
}
.button.circle {
    border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
}
.button.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button > span {
    vertical-align: middle;
}
.button.bouncy:hover {
    transform: scale(1.05);
}
.button.bouncy:active {
    transform: scale(.95);
}
.button:not(.bouncy):hover {
    filter: brightness(0.9);
}
.button:not(.bouncy):active {
    filter: brightness(0.8);
}
