:root{
  --text-color:#167D7F;
  --background-color:#DDFFE7;
  --darker-background-color:#29A0B1;
}
body {
  margin: 0;
  width: 400px;
  outline: 2px solid black;
  margin: auto;
  font-family: "Source Sans Pro", sans-serif;
}

svg{
  display:block !important;
}