.input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    min-width: 0;
    color: var(--text-color);
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: inherit;
    appearance: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.container {
    outline: 1px solid;
    outline-offset: 4px;
    transition: 0.1s all;
    border-radius: 2px;
    height: fit-content;
    width: 30px;
}
.disabledContainer {
    composes: container;
    outline-color: transparent;
}

.focusedContainer {
    composes: container;
    outline-color: var(--darker-background-color);
}

.unfocusedContainer {
    composes: container;
    outline-color: gray;
}
