
.tabContainer{
    color: black;
}
.icon{
    height: 100%;
}

.innerTab{
    display: flex;
    align-items: center;
    height: 30px;
    overflow: hidden;

}
.tabLabel{
    width: 0;
    position: relative;
    left: 10px;
}
