.heading{
    font-size: var(--heading-font-size);
    /* font-weight: bold; */
}
.label{
    font-size: var(--body-font-size);
    font-weight: bold;
}
.paragraph{
    font-size: var(--body-font-size);
}
